[Unit]
Description=Execute /boot/firstboot.sh exactly once.
After=network-online.target
Wants=network-online.target
ConditionPathExists=/home/pi/logger/firstboot.sh.done

[Service]
ExecStart=/bin/bash /home/pi/logger/firstboot.sh
ExecStartPost=echo $(date --utc) > /home/pi/logger/firstboot.sh.done
Type=oneshot
RemainAfterExit=no
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
